<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.wdd.studentmanager.mapper.ClazzMapper">

    <!-- 定义班级信息的结果映射 -->
    <resultMap type="com.wdd.studentmanager.domain.Clazz" id="ClazzInfo">
        <result column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="info" property="info"/>
    </resultMap>

    <!-- 查询班级列表 -->
    <select id="queryList" resultMap="ClazzInfo">
        SELECT * FROM s_clazz
        <where>
            <if test="name!=null"> AND name LIKE CONCAT("%", #{name}, "%") </if>
        </where>
        LIMIT #{startIndex}, #{pagesize}
    </select>

    <!-- 查询班级数量 -->
    <select id="queryCount" resultType="int">
        SELECT count(*) FROM s_clazz
        <where>
            <if test="name!=null"> AND name LIKE CONCAT("%", #{name}, "%") </if>
        </where>
    </select>

    <!-- 添加班级 -->
    <insert id="addClazz" parameterType="Clazz">
        INSERT INTO s_clazz(name, info) VALUES(#{name}, #{info})
    </insert>

    <!-- 批量删除班级 -->
    <delete id="deleteClazz" parameterType="java.util.ArrayList">
        DELETE FROM s_clazz
        <where>
            id IN
            <foreach collection="list" open="(" close=")" separator="," item="id">
                #{id}
            </foreach>
        </where>
    </delete>

    <!-- 编辑班级信息 -->
    <update id="editClazz" parameterType="Clazz">
        UPDATE s_clazz SET name = #{name}, info = #{info} WHERE id = #{id}
    </update>

    <!-- 根据班级名称查询班级信息 -->
    <select id="findByName" parameterType="String" resultType="Clazz">
        SELECT * FROM s_clazz WHERE name = #{clazzName}
    </select>

</mapper>
