<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.wdd.studentmanager.mapper.ScoreMapper">

    <!-- 定义成绩信息的结果映射 -->
    <resultMap type="com.wdd.studentmanager.domain.Score" id="ScoreInfo">
        <result column="id" property="id"/>
        <result column="course_id" property="courseId"/>
        <result column="student_id" property="studentId"/>
        <result column="score" property="score"/>
        <result column="remark" property="remark"/>
        <result column="courseName" property="courseName"/>
        <result column="studentName" property="studentName"/>
    </resultMap>

    <!-- 查询成绩列表 -->
    <select id="queryList" resultMap="ScoreInfo">
        SELECT * FROM s_score
        <where>
            <if test="courseid!=null"> AND course_id = #{courseid} </if>
            <if test="studentid!=null"> AND student_id = #{studentid} </if>
        </where>
        LIMIT #{startIndex}, #{pagesize}
    </select>

    <!-- 查询成绩数量 -->
    <select id="queryCount" resultType="int">
        SELECT count(*) FROM s_score
        <where>
            <if test="courseid!=null"> AND course_id = #{courseid} </if>
            <if test="studentid!=null"> AND student_id = #{studentid} </if>
        </where>
    </select>

    <!-- 添加成绩 -->
    <insert id="addScore" parameterType="Score">
        INSERT INTO s_score(course_id, student_id, score, remark)
        VALUES(#{courseId}, #{studentId}, #{score}, #{remark})
    </insert>

    <!-- 删除成绩 -->
    <delete id="deleteScore" parameterType="int">
        DELETE FROM s_score WHERE id = #{id}
    </delete>

    <!-- 判断成绩是否存在 -->
    <select id="isScore" parameterType="Score" resultType="Score">
        SELECT * FROM s_score WHERE course_id = #{courseId} AND student_id = #{studentId}
    </select>

    <!-- 编辑成绩 -->
    <update id="editScore" parameterType="Score">
        UPDATE s_score SET course_id = #{courseId}, student_id = #{studentId}, score = #{score}, remark = #{remark} WHERE id = #{id}
    </update>

    <!-- 查询所有成绩及相关信息 -->
    <select id="getAll" parameterType="Score" resultMap="ScoreInfo">
        SELECT s_score.*, s_course.name AS courseName, s_student.username AS studentName
        FROM s_score, s_course, s_student
        <where>
            s_score.course_id = s_course.id AND s_score.student_id = s_student.id
            <if test="courseId!=null and courseId != ''"> AND course_id = #{courseId} </if>
            <if test="studentId!=null and studentId != ''"> AND student_id = #{studentId} </if>
        </where>
    </select>

    <!-- 查询成绩统计信息 -->
    <select id="getAvgStats" parameterType="int" resultType="ScoreStats">
        SELECT max(s_score.score) AS max_score, avg(s_score.score) AS avg_score, min(s_score.score) AS min_score, s_course.name AS courseName
        FROM s_score, s_course
        WHERE s_score.course_id = s_course.id AND s_score.course_id = #{courseid}
    </select>

</mapper>
