<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.wdd.studentmanager.mapper.TeacherMapper">

    <!-- 定义教师信息的结果映射 -->
    <resultMap type="com.wdd.studentmanager.domain.Teacher" id="TeacherInfo">
        <result column="id" property="id"/>
        <result column="sn" property="sn"/>
        <result column="username" property="username"/>
        <result column="password" property="password"/>
        <result column="clazz_id" property="clazzId"/>
        <result column="sex" property="sex"/>
        <result column="mobile" property="mobile"/>
        <result column="qq" property="qq"/>
        <result column="photo" property="photo"/>
    </resultMap>

    <!-- 查询教师列表 -->
    <select id="queryList" resultMap="TeacherInfo">
        SELECT * FROM s_teacher
        <where>
            <if test="username!=null"> AND username LIKE CONCAT("%", #{username}, "%") </if>
            <if test="clazzid!=null"> AND clazz_id LIKE CONCAT("%", #{clazzid}, "%") </if>
            <if test="teacherid!=null"> AND id = #{teacherid} </if>
        </where>
        LIMIT #{startIndex}, #{pagesize}
    </select>

    <!-- 查询教师数量 -->
    <select id="queryCount" resultType="int">
        SELECT count(*) FROM s_teacher
        <where>
            <if test="username!=null"> AND username LIKE CONCAT("%", #{username}, "%") </if>
            <if test="clazzid!=null"> AND clazz_id LIKE CONCAT("%", #{clazzid}, "%") </if>
            <if test="teacherid!=null"> AND id = #{teacherid} </if>
        </where>
    </select>

    <!-- 添加教师 -->
    <insert id="addTeacher" parameterType="Teacher">
        INSERT INTO s_teacher(sn, username, password, clazz_id, sex, mobile, qq, photo)
        VALUES(#{sn}, #{username}, #{password}, #{clazzId}, #{sex}, #{mobile}, #{qq}, #{photo})
    </insert>

    <!-- 批量删除教师 -->
    <delete id="deleteTeacher" parameterType="java.util.ArrayList">
        DELETE FROM s_teacher
        <where>
            id IN
            <foreach collection="list" open="(" close=")" separator="," item="id">
                #{id}
            </foreach>
        </where>
    </delete>

    <!-- 编辑教师信息 -->
    <update id="editTeacher" parameterType="Teacher">
        UPDATE s_teacher
        <set>
            <if test="username != null">
                username = #{username},
            </if>
            <if test="clazzId != null">
                clazz_id = #{clazzId},
            </if>
            <if test="sex != null">
                sex = #{sex},
            </if>
            <if test="mobile != null">
                mobile = #{mobile},
            </if>
            <if test="qq != null">
                qq = #{qq},
            </if>
            <if test="photo != null">
                photo = #{photo},
            </if>
        </set>
        WHERE id = #{id}
    </update>

    <!-- 根据ID查询教师信息 -->
    <select id="findById" parameterType="int" resultType="Teacher">
        SELECT * FROM s_teacher WHERE id = #{tid}
    </select>

    <!-- 根据用户名和密码查询教师 -->
    <select id="findByTeacher" parameterType="Teacher" resultType="Teacher">
        SELECT * FROM s_teacher WHERE username = #{username} AND password = #{password}
    </select>

    <!-- 根据教师ID修改密码 -->
    <update id="editPswdByTeacher" parameterType="Teacher">
        UPDATE s_teacher SET password = #{password} WHERE id = #{id}
    </update>

</mapper>
